#container {
	width: 1000px;
}

h3 {
	padding: 20px 50px;
}

/* ----------------- */
/* ANIMATION */
/* ----------------- */
#animation-container {
 width: 100%;
 display:flex;
 position:relative;
 margin-top: 5rem;
}

.anim-letter{
	opacity:1;
	width:100%;
	position:absolute;
}

/* ----------------- */
/* HOVER AREAS */
/* ----------------- */
#hover-container {
}
.hover {
	position:absolute;
	height:200px;
	background-color:lightgrey;
	opacity: 0;
}

#hover-o{
	top:338px;
	left:145px;
	width:215px;
	height:200px;
}
#hover-l{
	top:344px;
	left:379px;
	width:46px;
	height:190px;
}
#hover-i{
	top:396px;
	left:457px;
	width:47px;
	height:136px;
}
#hover-c{
	top:401px;
	left:524px;
	width:117px;
	height:139px;
}
#hover-e{
	top:400px;
	left:648px;
	width:144px;
	height:140px;
}
#hover-dot{
	top:493px;
	left:800px;
	width:46px;
	height:46px;
}