#container {
	width: 100%;
	margin: 0 auto;
	display:flex;
}

/* ----------------- */
/* ANIMATION */
/* ----------------- */
#animation-container {
 width: 100%;
 display:flex;
 position:relative;
 margin-top: 5rem;
}

.anim-letter{
	opacity:1;
	position:absolute;
	width:75%;
}

/* ----------------- */
/* HOVER AREAS */
/* ----------------- */
#hover-container {
	border:1px solid red;
}
.hover {
	position:absolute;
	border:1px solid grey;
	height:200px;
	background-color:lightgrey;
	opacity: 0;
}

#hover-o{
	top:280px;
	left:320px;
	width:220px;
}
#hover-l{
	top:280px;
	left:565px;
	width:40px;
	height:200px;
}
#hover-i{
	top:330px;
	left:650px;
	width:50px;
	height:150px;
}
#hover-c{
	top:340px;
	left:720px;
	width:120px;
	height:150px;
}
#hover-e{
	top:340px;
	left:860px;
	width:140px;
	height:150px;
}
#hover-dot{
	top:430px;
	left:1020px;
	width:50px;
	height:50px;
}

/* ----------------- */
/* BUTTONS */
/* ----------------- */
#button-container {
	margin-top: 100px;
	display:flex;
	flex-direction: column;
}

#buttonPanel button {
	margin: 4px;
}



#rareColor path {
	fill:#dc3c56; 
	stroke:#dc3c56;
}